a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0px;
}

.loginBlock {
    position: relative;
    top: 10em;
    left: 50em;
    content: normal;
    width: fit-content;
}

.loginForm {
    border: 1px solid #D3D3D3;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.userField {
    margin: 10px;
    padding: 10px;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    width: 250px;

}

.userField:focus {
    border: 1px solid #778899;
    outline: none;
}

.submitLogin {
    margin: 10px;   
    width: 92%;
    padding: 6px;
    background-color: #00BFFF;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    border: 0px;
    cursor: pointer;
    
}

.noAccountRedirect {
    padding: 30px;
    margin-top: 10px;
    border: 1px solid #D3D3D3;
    font-size: 14px;
    text-align: center;
}

.sideBarDiv {
    height: 100%;
    width: fit-content;
    position: fixed;
    border-right: 1px solid #D3D3D3;
    padding-top: 60px;
}

.smallSideBarDiv {
    height: 100%;
    width: fit-content;
    position: fixed;
    padding-top: 60px;
}

.sideBarElement {
    display: flex;
    margin: 10px;
    width: 265px;
    border-radius: 10px;
    cursor: pointer;
    border-right: 1px solid transparent;
}

.barIcon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.barPfp {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.sideBarElement:hover {
    background-color: #F5F5F5;
}

.smallSideBarElement {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.smallSideBarElement:hover {
    background-color: #F5F5F5;
}

.homepage {
    min-height: 100vh;
    display: flex;
}

.search {
    border-right: 1px solid #D3D3D3;
    width: 500px;
    height: 100%;
    background-color: white;
    display: flex;
    position: fixed;
}

.searchPart {
    margin-left: 14%;
    width: 100%;
}

.searchInput {
    padding: 15px;
    font-size: 15px;
    width: 350px;
    border-radius: 10px;
    background-color: #F3F3F3;
    outline: none;
    border: 0px;
    margin: 20px;
}

.searchedUser {
    padding: 20px;
    cursor: pointer;
}

.searchedUser:hover{
    background-color: #F3F3F3;
}

.createPostDiv {
    background-color: white;
    width: 700px;
    height: 730px;
    position: fixed;
    top: 10%;
    left: 33%;
    z-index: 2;
    border-radius: 15px;
    text-align: center;
}

.changeBack {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.createPostTxt {
    margin-left: auto;
    padding-bottom: 10px;
    border-bottom:1px solid #D3D3D3;
    margin-bottom: 0px;
}

.closeCreatePost {
    z-index: 2;
    margin: 10px;
    position: fixed;
    right: 0px;
    cursor: pointer;
}

.createPostImage {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 40%;
}

.fileInput {
    display: none;
}

.imageInput {
    cursor: pointer;
    background-color: #00BFFF;
    color: white;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    position: absolute;
    bottom: 35%;
    left: 35%;
}

.imagePreview1to1 {
    min-width: 700px;
    min-height: 685px;
    max-width: 700px;
    max-height: 685px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.imagePreviewOriginal {
    max-width: 700px;
    max-height: 682px;
    min-height: 40%;
    min-width: 100%;
    position: absolute;
    object-fit: contain;
    top: 53.16%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.submitImagePost {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #00BFFF;
    font-size: 16px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 10px;
    margin-top: 14px;
}

.submitImagePost:hover {
    color: #1E90FF;
}

.selectAspectRatio {
    position: absolute;
    bottom: 2%;
    left: 2%;
    margin: 5px;
    background-color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 100%;
    opacity: 0.9;
    z-index: 1;
    cursor: pointer;
}

.aspectRatioDiv {
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    bottom: 65px;
    left: 20px;
    border-radius: 10px;
    width: 120px;
    text-align: left;
}

.ratioOriginalTxt {
    border-bottom:2px solid #D3D3D3;
    padding: 10px;
    cursor: pointer;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ratio1to1Txt {
    padding: 10px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

.oneToOneBox {
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    bottom: 15px;
}

.originalBox {
    font-size: 25px;
    margin-left: 10px;
    position: absolute;
    top: 15px;
}

.postsPreviewSection {
    border-top:1px solid #D3D3D3;
    position: absolute;
    right: 18%;
    top: 45%;
    height: fit-content;
    width: 920px;
}

.PostsSelection {
    display: flex;
    width: fit-content;
    padding: 20px;
    border-top:1px solid black;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.PostsTxt {
    margin: 0px;
    padding-left: 5px;
    font-size: 14px;
}

.noPostsIcon {
    font-size: 65px;
    position: absolute;
    margin: 10px;
    margin-left: 20px;
}

.noPostsYet {
    position: absolute;
    top: 150px;
    left: 46%;
    width: 150px;
    height: 100px;
}

.noPostsTxt {
    position: absolute;
    top: 85%;
    font-size: 20px;
}

.postsFlexBox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2px;
}

.imgPreview {
    height: 298px;
    width: 298px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 3px;
}

.imgPreview:hover {
    cursor: pointer;
    filter: brightness(75%);
}

.selectedImageOneToOne {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 800px;
    height: 800px;
    display: block;

}

.selectedImageOriginal {
    object-fit: contain;
    display: block;
    max-width: 800px;
    background-color: white;
    width: auto;
    height: 800px;

}

.selectedImageContainer {
    max-height: 900px;
    box-sizing: border-box;
    display: flex;
    z-index: 2;
    position: fixed;
    top: 7%;
    left: 25%;
}

.selectedImgSide {
    background-color: white;
    width: 430px;
    height: 800px;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imageOptionsIcon {
    position: absolute;
    right: 0%;
    margin: 20px;
    cursor: pointer;
    font-size: 18px;
}

.imageOptions {
    position: absolute;
    top: 3%;
    right: 10%;
    width: 260px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #D3D3D3;
    cursor: pointer;
}

.deleteImage {
    color: red;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #D3D3D3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.deleteImage:hover {
    background-color: #F3F3F3;
}

.cancelImageOptions {
    margin: 0px;
    padding: 10px;
}

.cancelImageOptions:hover {
    background-color: #F3F3F3;
}

.profileOverview {
    margin-left: 38%;
    margin-top: 3%;
    display: flex;
}

.userPfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 100px; 
    cursor: pointer;   
    margin-top: 30px;
}

.profileOverviewNums {
    display: flex;
}

.profileOverviewNum {
    margin-right: 40px;
}

.pfpOptions {
    background-color: white;
    z-index: 2;
    position: fixed;
    text-align: center;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pfpOptionsTxt {
    padding: 18px;
    width: 400px;
    margin: 0px;
    border-top: 1px solid #D3D3D3;
    cursor: pointer;
}

.pfpRemoveCurrentPhoto {
    margin: 0px;
    color: red;
    font-weight: bold;
}

.pfpImageInputLabel {
    display: block;
    cursor: pointer;
    padding: 18px;
    font-weight: bold;
}

.pfpOptionsForm {
    width: 100%;
    margin: 0px;
    border-top: 1px solid #D3D3D3;
    cursor: pointer;
}

.editProfileButton {
    margin-left: 25px;
    margin-top: 25px;
    border: 0px;
    height: 32px;
    width: 102px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.editProfileButton:hover {
    background-color: #D3D3D3;
}

.editProfilePage {
    margin-left: 600px;
    padding-top: 50px;
    width: fit-content;

}

.settingsProfileContainer {
    background-color: #F3F3F3;
    display: flex;
    border-radius: 15px;
    width: 700px;
}

.settingsPfp {
    margin: 20px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.settingsUsernameOverview {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 17px;
}

.settingsNameOverview {
    margin-top: 3px;
    color: gray;
    font-size: 15px;
}

.bioSettingsTextArea {
    padding: 15px;
    padding-right: 45px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid #D3D3D3;
    width: 638px;
}

.bioSettingsTextArea:focus {
    border: 1px solid black;
}

.bioTextLimit {
    color: gray;
    font-size: 14px;
    position: absolute;
    right: 33%;
    top: 34.5%;
}

.nameSettingsText {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    outline: none;
    width: 300px;
}

.nameSettingsText:focus {
    border: 1px solid black;
}

.submitSettings {
    margin-top: 40px;
    background-color: #00BFFF;
    border: 0px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 320px;
    font-weight: bold;
    cursor: pointer;
}

.submitSettings:hover {
    background-color: #1E90FF;
}

.profileName {
    margin: 0px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 14px;
}

.profileBio {
    margin-top: 5px;
    font-size: 13px;
}

.settingsChangePfp {
    margin-left: auto;
    margin-right: 30px;
    align-self: center;
    border: 0px;
    background-color: #00BFFF;
    color: white;
    border-radius: 10px;
    padding: 8px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
}

.settingsChangePfp:hover {
    background-color: #1E90FF;
}